@media screen and (max-width: 1200px) {
    body .wrapper {
        padding: 0 30px;
        box-sizing: border-box
    }
}

@media screen and (max-width: 1170px) {
    #partners .partners-item {
        width: 15%;
        margin: 15px 0;
    }

    .chart-element .tab-pane {
        display: block;
        text-align: center;
    }

    .chart-element .tab-pane div {
        width: 100%;
        display: inline-table;
    }

    .chart-element .nav-tabs {
        width: 100%;
    }
}

@media screen and (max-width: 860px) {
    #partners .partners-item {
        width: 20%;
    }
}

@media screen and (max-width: 750px) {
    .home-token-chart .wrapper,
    .portfolio-chart .wrapper {
        display: block;
    }

    .chart-element,
    .chart-summary {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .chart-summary {
        margin-top: 40px;
    }

    .chart-summary p {
        margin: 0;
    }

    .how-summary {
        padding: 0;
    }

    .personal-charts .wrapper {
        display: block;
    }

    .personal-token-chart {
        margin-bottom: 40px;
    }

    .porfolio-chart img {
        max-width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .banner-summary p {
        width: 80%;
    }

    .social-links {
        width: 80%;
    }

    .variants-list .variant-token {
        width: 100%;
        padding-bottom: 10px;
    }

    .variants-list .button {
        margin: 1em 0;
    }
}

@media screen and (max-width: 650px) {
    .banner-summary p {
        width: 80%;
    }

    .how-it-works .wrapper {
        flex-direction: column-reverse;
    }

    .how-summary {
        margin-top: 20px;
    }

    .number-items {
        flex-wrap: wrap;
    }

    .number-items .item,
    .number-items.row-new .item {
        flex-basis: 50%;
    }

    .number-items.row-new .item:last-child {
        flex-basis: 100%;
    }

    .number-items .item:not(:last-child) {
        margin-right: 0px;
    }

    .social-links {
        width: 100%;
    }

    .user-info .wrapper {
        display: block;
        padding: 30px 0;
    }
}

@media screen and (max-width: 600px) {
    #partners {
        padding: 20px 0;
    }

    #partners .partners-item {
        width: 30.3333%;
        margin: 10px 0;
    }
}

@media screen and (max-width: 460px) {
    .banner-summary h1 {
        font-size: 4.4rem;
    }

    body .wrapper {
        padding: 0 10px;
    }

    header .navigation nav {
        padding: 8px 10px 8px 0;
    }

    header .navigation nav > a,
    .language-switcher {
        margin-left: 10px;
    }

    header .navigation nav > a:first-child {
        margin-left: 0;
    }

    #partners .partners-item {
        width: 49%;
    }

    .chart-element .tab-pane .chart-summary {
        padding-top: 0;
    }

    .variants-list .variant-token p {
        padding-top: 2em;
    }

    .chart-element .tab {
        width: 100%;
    }
}
